<main>
  <head>
  <p>
    <%== pagy_nav(@pagy) %>
  </p>
    <%= link_to("Search Again", root_path) %>
    <br>
    <%= link_to("Back to results", :back) %>
  </head>
  <section>
    <% @search_result.each do |result| %>
    <br>
    <aside>
    <h3><%= link_to(result["name"], beer_path(result["id"])) %></h3>
    <br>
    <figure>
      <%= check_and_display_image(result) %>
    </figure>
        <small>Alcohol content: <%= result["abv"] %>%</small>
        <small>
          <details>
            <summary>Read more</summary>
            <%= result["description"] %>
          </details>
        </small>
    </aside>
    <% end %>
  </section>
</main>