<header>
  <h1><%= @beer["name"] %></h1>
  <%= @beer["tagline"] %>
  <br>
  <small><%= @beer["abv"] %>% alcohol</small>
</header>

  <section>
    <%= link_to("Back", :back) %>
  </section>
<section>
<ul>
<h3>
<mark><%= @beer["name"] %></mark> is excellent to pair with the following dishes:</h3>
  <% @beer["food_pairing"].each do |food| %>
    <li>
      <%= food %>
    </li>
  <% end %>
</ul>
</section>
<main>
  <section>
  <aside>

    <figure>
      <%
      if @beer["image_url"].nil? %>
        <%= image_tag('https://images.unsplash.com/photo-1618183479302-1e0aa382c36b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80', height: '150') %>
      <% else %>
        <%= image_tag(@beer["image_url"], width: '150') %>
      <% end %>
    </figure>
  </aside>
      <br>
    <%= @beer["description"] %>
  </section>

</main>